
    <nav>
        <ul style="list-style-type: none; text-align: center">
            <li><a class="ClientCarBtns" href="@Url.Action("Index", "TClients")">Users Table</a></li>
            <li><a class="ClientCarBtns" href="@Url.Action("Index", "TCars")">Cars Table</a></li>
            <li><a class="ClientCarBtns" href="@Url.Action("Index", "TOrders")">Current Orders</a></li>
            <li><a class="ClientCarBtns" href="@Url.Action("OrderHistory", "TOrders")">Orders History</a></li>

        </ul>
    </nav>
