
<nav>
    <ul style="list-style-type: none; text-align: center">
        <li><a class="ClientCarBtns" href="@Url.Action("UserCurrentOrders", "TOrders")">Current Orders</a></li>
        <li><a class="ClientCarBtns" href="@Url.Action("UserOrderHistory", "TOrders")">Orders History</a></li>
    </ul>
</nav>
